<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Change Password</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card shadow p-4" style="max-width:400px; margin:auto;">

        <h4 class="text-center mb-3">Change Password</h4>

        <!-- ERROR -->
        <div th:if="${error}" class="alert alert-danger">
            <span th:text="${error}"></span>
        </div>

        <!-- SUCCESS -->
        <div th:if="${success}" class="alert alert-success">
            <span th:text="${success}"></span>
        </div>

        <form th:action="@{/user/change-password}" method="post">

            <input type="hidden" name="id" th:value="${user.id}">

            <div class="mb-3">
                <label>Old Password</label>
                <input type="password" name="oldPassword" class="form-control" required>
            </div>

            <div class="mb-3">
                <label>New Password</label>
                <input type="password" name="newPassword" class="form-control" required>
            </div>

            <button class="btn btn-primary w-100">Update Password</button>

        </form>

    </div>

</div>

</body>
</html>