<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Profile</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="bg-light">

<div class="container mt-5">

    <div class="card p-4 shadow">
        <h3 class="text-center mb-3">Edit Profile</h3>

        <form th:action="@{/user/update}" method="post">

            <input type="hidden" th:field="*{id}" th:value="${user.id}">

            <div class="mb-3">
                <label>Name</label>
                <input type="text" name="name"
                       th:value="${user.name}"
                       class="form-control">
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input type="email" name="email"
                       th:value="${user.email}"
                       class="form-control">
            </div>

            <div class="mb-3">
                <label>Password</label>
                <input type="text" name="password"
                       th:value="${user.password}"
                       class="form-control">
            </div>

            <button class="btn btn-primary w-100">
                Update Profile
            </button>

        </form>
    </div>

</div>

</body>
</html>