<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password | HireHub</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body class="bg-light">

<div class="container d-flex justify-content-center align-items-center"
     style="min-height:100vh;">

    <div class="card shadow p-4" style="width:400px;">

        <h3 class="text-center mb-3">Forgot Password</h3>
        <p class="text-muted text-center">
            Enter your email to recover password
        </p>

        <!-- ERROR MESSAGE -->
        <div th:if="${error}" class="alert alert-danger text-center">
            <span th:text="${error}"></span>
        </div>

        <!-- SUCCESS MESSAGE -->
        <div th:if="${success}" class="alert alert-success text-center">
            <span th:text="${success}"></span>
        </div>

        <!-- FORM -->
        <form th:action="@{/forgot-password}" method="post">

            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email"
                       name="email"
                       class="form-control"
                       placeholder="Enter your registered email"
                       required>
            </div>

            <button type="submit" class="btn btn-primary w-100">
                Send Password
            </button>

        </form>

        <!-- BACK TO LOGIN -->
        <div class="text-center mt-3">
            <a th:href="@{/login}" class="text-primary">
                Back to Login
            </a>
        </div>

    </div>

</div>

<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>